@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
    border-bottom: 2px solid #455A64;
    padding-block: 10px;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 20px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

.btn-play {
  border-color: #40963c;
  color: #fff;
  box-shadow: 0 0 40px 40px #40963c inset, 0 0 0 0 #40963c;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-align: center;
}
.btn-play:hover {
  box-shadow: 0 0 10px 0 #40963c inset, 0 0 10px 4px #40963c;
}

.btn-pause {
  border-color: #963c3c;
  color: #fff;
  box-shadow: 0 0 40px 40px #963c3c inset, 0 0 0 0 #963c3c;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-align: center;
}
.btn-pause:hover {
  box-shadow: 0 0 10px 0 #963c3c inset, 0 0 10px 4px #963c3c;
}


.fixed-bottom {
  max-width: 250px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.fixed-bottom:hover, .fixed-bottom:focus {
  color: #fff;
  outline: 0;
}

.bi{
  margin-left: 106px;
}
