<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Good Coding Together</a>
      </header>
      <nav class="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/image-display">
            Image Display
          </a>
        </div>
      </nav>
      <nav class="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/cool-button">
            Cool Button
          </a>
        </div>
      </nav>
      <nav class="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/chicacometro">
            Chicacometro
          </a>
        </div>
      </nav>
      <button *ngIf="!reproductorActivo" class="btn-play fixed-bottom" (click)="play()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
          <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
      </button>
      <button *ngIf="reproductorActivo" class="btn-pause fixed-bottom" (click)="pause()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
          <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </button>
    </div>
    <!-- Content -->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
</div>
