<div id="viewport">
  
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Good Coding Together</a>
      </header>
      <nav class="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/image-display">
            Image Display
          </a>
        </div>
      </nav>
      <nav class="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/cool-button">
            Cool Button
          </a>
        </div>
      </nav>
    </div>
    <!-- Content -->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>