




<div class="container">
  <div class="row" style="border: white; border-style: dashed; width: 84%; height: 77%;">
    <div class="col" style="border: red; border-style: dashed;">

    </div>
  </div>
  <div class="row" style="border: white; border-style: dashed; width: 84%; height: 10%; ">
    <div class="col" style="border: red; border-style: dashed; height: auto">
      <input type="radio" class="btn-check" name="options-outlined" id="quest-1" autocomplete="off" checked>
      <label class="btn btn-outline-success" for="quest-1" style="width: inherit;  height: -webkit-fill-available; padding-top: 5%;">Checked success radio</label>
    </div>
    <div class="col" style="border: red; border-style: dashed; height: auto">
      <input type="radio" class="btn-check" name="options-outlined" id="quest-2" autocomplete="off">
      <label class="btn btn-outline-danger" for="quest-2" style="width: inherit;  height: -webkit-fill-available; padding-top: 5%;">Danger radio</label>
    </div>
  </div>
  <div class="row" style="border: white; border-style: dashed; width: 84%; height: 10%;">
    <div class="col" style="border: red; border-style: dashed; height: auto">
      <input type="radio" class="btn-check" name="options-outlined" id="quest-3" autocomplete="off" checked>
      <label class="btn btn-outline-success" for="quest-3" style="width: inherit; height: -webkit-fill-available; padding-top: 5%;">Checked success radio</label>
    </div>
    <div class="col" style="border: red; border-style: dashed; height: auto">
      <input type="radio" class="btn-check" name="options-outlined" id="quest-4" autocomplete="off">
      <label class="btn btn-outline-danger" for="quest-4" style="width: inherit; height: -webkit-fill-available; padding-top: 5%;">Danger radio</label>
    </div>
  </div>
</div>
