<div class="container-button" style="background: rgb(147, 38, 38);">
    <button type="button" class="btn btn-danger btn-lg btn3d" (click)="reproducirSonido('danger.mp3')">
        <span class="glyphicon glyphicon-remove"></span> 
        Danger
    </button>
</div>

<div class="container-button" style="background: rgb(48, 143, 207);">
    <button class="btncool" (click)="reproducirSonido('wow.mp3')">
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>WOOW</span>
    </button>
</div>

<div class="container-button" style="background: rgb(88, 207, 48);">
    <div class="box-3" (click)="reproducirSonido('nice.mp3')">
        <div class="btn-nice btn-two">
        <span>NICE</span>
        </div>
    </div>
</div>